*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: flex;

}
.content {
  padding-left: 150px;
  width: 100%;
}

.container {
  padding: 0 129px;
}

.listcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}